.btn-primary {
  background-color: #064125;
  color: white;
  border: 1px solid #064125;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  text-align: center;

}

.btn-primary:hover {
  color: white;
  background-color: #135936;
  text-decoration: none;
}

#car-img {
  height: 100%;
  width: 15%;
}
