.forgotpass-btn {
  background-color: #064125;
  color: white;
  border: 1px solid #064125;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  text-align: center;
  margin: 50px 0px;

}

.forgotpass-btn:hover {
  color: white;
  background-color: #135936;
  text-decoration: none;
}

