.container {
  overflow: hidden;
  height: auto;
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 20px;
}

.card-car {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-car-img {
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.header {
  margin-top: 20px;
  color: #485156;
}
