.car-overview {
  position: absolute;
  width: 100%;
  h1 {
    color: white;
    font-weight: 300;
    text-shadow: 0px 0px 8px #00000038;
  }
}
.img-cont {
  width: 100%;
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  height: 80vh;
  background-size: cover;
  background-position: bottom;
}

.car-image {
  height: 100%;
  width: 100%
}


.price {
  color: gray;
  text-align: left;
}

.rating {
  color: gray;
  text-align: right;
}
