<div class='wrapper col-12'>
    <h1>Welcome to Classics</h1>
    <h2>The drivers club for vintage car enthusiasts</h2>
    <div class='button-wrapper'>
      <%= link_to "See all our cars", cars_path , class: "all-btn" %>
    </div>
</div>

<div class='center center--list-info' style='display: flex; justify-content: space-around; padding: 25px'>
    <div class='list-info__section' style='background-color: lightgrey; text-align: center; padding: 15px' >
      <h3 class='list-info__title' style='font-size: 36px'>For drivers, by drivers. Seeking excellence.</h3>
      <div class='list-info__txt cke-list'>
        <p style='font-size: 24px; text-align: justify; font-weight: 100'>
          Here some random text that no one in his right would read before leaving a 10m car to a stranger.
          Here some random text that no one in his right would read before leaving a 10m car to a stranger.
          Here some random text that no one in his right would read before leaving a 10m car to a stranger.
        </p>
      </div>
    </div>
    <div class='list-info__section' style='background-color: lightgrey; text-align: center; padding: 15px'>
      <h3 class='list-info__title' style='font-size: 36px'>Dare to push our cars to the limit.</h3>
      <div class='list-info__txt cke-list'>
        <p style='font-size: 24px; text-align: justify'>
          Here some random text that no one in his right would read before leaving a 10m car to a stranger.
          Here some random text that no one in his right would read before leaving a 10m car to a stranger.
          Here some random text that no one in his right would read before leaving a 10m car to a stranger.
        </p>
      </div>
    </div>
    <div class='list-info__section' style='background-color: lightgrey; text-align: center; padding: 15px'>
      <h3 class='list-info__title' style='font-size: 36px'>We've got you covered in case of total damage.</h3>
      <div class='list-info__txt cke-list'>
        <p style='font-size: 24px; text-align: justify'>
          Here some random text that no one in his right would read before leaving a 10m car to a stranger.
          Here some random text that no one in his right would read before leaving a 10m car to a stranger.
          Here some random text that no one in his right would read before leaving a 10m car to a stranger.
        </p>
      </div>
    </div>
</div>
<div class='favourites'>
  <h1>Our member's most driven cars</h1>

<div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center" style="padding: 20px">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li>Web design</li>
                            <li>Development</li>
                            <li>Hosting</li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li>Company</li>
                            <li>Team</li>
                            <li>Legacy</li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Careers</h3>
                        <ul>
                            <li>Job openings</li>
                            <li>Employee success</li>
                            <li>Benefits</li>
                        </ul>
                    </div>
                        <p class="copyright">Classics © 2021</p>
                </div>
            </div>
        </footer>
    </div>

