<div class='wrapper col-12'>
    <h1>Welcome to Classics</h1>
    <h2>The drivers club for vintage car enthusiasts</h2>
    <div class='button-wrapper'>
      <%= link_to "See all our cars", "#", class: "all-btn" %>
    </div>
</div>


