.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-top: inherit;
}


h3.careers {
  font-size: 25px;
}

h3.services {
font-size: 25px;
}

h3.about {
font-size: 25px;
}

ul {
  font-size: 15px
}


h6.copyright {
 margin-top: 50px;
}

.footer-clean {
  background-color: #064125;
  color: white;
  margin-top: 20px;
  width: 100%;
}
