.navbar-lewagon {
  justify-content: space-between;
  background: #064125;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  padding: 0px;
  margin: 0px;
}

.navbar-logo {
display: inline-block;
vertical-align: top;
}

.input-group rounded {
  width: 500px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 15px;
}
