<h1>Mes voitures:</h1>
<div class="container">
  <div class="col-6" class="cards">
      <ul class="list_cars" style="list-style-type: none;">
        <li>
          <% @cars.each do |car| %>
            <div class="thumbnail">
              <img src="https://ds-prod-files.s3.us-east-2.amazonaws.com/cars_images/2050/1562000141_phpPUuCuR.jpg.small.jpg" class="car__img">
              <div class ="description">
                <h3><%= car.brand %></h3>
                  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nibh nisl, vestibulum faucibus erat ac, maximus elementum orci."
                  </p>
              </div>
            </div>
          <% end  %>
        </li>
      </ul>
  </div>
</div>



<%= link_to "back to all cars", cars_path %>
<%= link_to "Create Car", new_car_path(@car) %>



<div class="car__top">
  <img src="https://ds-prod-files.s3.us-east-2.amazonaws.com/cars_images/2050/1562000141_phpPUuCuR.jpg.small.jpg" alt="1989 Porsche 911" class="car__img">
  <h3 class="car__name car__name--home">1989 Porsche 911</h3>
</div>


<div class="car__bottom car__bottom--home">
                                <div class="car__bottom-inner car__bottom-inner--top">
                                    <div class="car__bottom-left car__bottom-left--home">
                                        <div class="car__rating car__rating--home">
   <div class="rating-star car__rating-star rating-star--full"></div>
    <div class="rating-star car__rating-star rating-star--full"></div>
     <div class="rating-star car__rating-star rating-star--full"></div>
      <div class="rating-star car__rating-star rating-star--full"></div>
      <div class="rating-star car__rating-star rating-star--full"></div>
       </div>
        <div class="car__rating-count">(5)</div>
                                    </div>
                                    <div class="car__bottom-right car__bottom-right--home">
                                        <div class="car__price car__price--home">
                                            <span class="car__price-num">
                                                <span class="car__price-currency">$</span>195                                            </span>
                                            <span class="car__price-period">per<br> day</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="car__bottom-location w-eq-height"><strong>Sterling</strong>, VA</div>
                                <div class="car__bottom-inner">
                                    <div class="car__bottom-left car__bottom-left--home">
                                                          <span class="tooltip tooltip--car">Driving rental</span>
                                            </span>
                                            <span class="tooltip tooltip--car">Event rental</span>
                        </span>
                                                                                </div>
                                    <div class="car__bottom-right car__bottom-right--home">
                                        <div class="car__bottom-right-icon-wrap">
    </div>
  </div>
</div>
